## 서울특별시 공공자전거 대여소 정보

API 제공 URL : http://data.seoul.go.kr/dataList/datasetView.do?infId=OA-13252&srvType=S&serviceKind=1&currentPageNo=1&searchValue=&searchKey=null

#### Response Example

In [6]:
ex = {"PublicBicycleRenTIdinfo":{"list_total_count":1460,"RESULT":{"CODE":"INFO-000","MESSAGE":"정상 처리되었습니다"},"row":[{"ADDR_GU":"강남구","RENT_ID":"ST-777","CONTENT_ID":"2301","CONTENT_NM":"현대고등학교 건너편","NEW_ADDR":"서울특별시 강남구 압구정로 134현대고등학교 건너편","CRADLE_COUNT":10.0,"LATITUDE":37.524071,"LONGITUDE":127.02179},{"ADDR_GU":"강남구","RENT_ID":"ST-787","CONTENT_ID":"2302","CONTENT_NM":"교보타워 버스정류장(신논현역 3번출구 후면)","NEW_ADDR":"서울특별시 강남구 봉은사로 지하 102교보타워 버스정류장","CRADLE_COUNT":10.0,"LATITUDE":37.505581,"LONGITUDE":127.024277}]}}
ex

{'PublicBicycleRenTIdinfo': {'list_total_count': 1460,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'ADDR_GU': '강남구',
    'RENT_ID': 'ST-777',
    'CONTENT_ID': '2301',
    'CONTENT_NM': '현대고등학교 건너편',
    'NEW_ADDR': '서울특별시 강남구 압구정로 134현대고등학교 건너편',
    'CRADLE_COUNT': 10.0,
    'LATITUDE': 37.524071,
    'LONGITUDE': 127.02179},
   {'ADDR_GU': '강남구',
    'RENT_ID': 'ST-787',
    'CONTENT_ID': '2302',
    'CONTENT_NM': '교보타워 버스정류장(신논현역 3번출구 후면)',
    'NEW_ADDR': '서울특별시 강남구 봉은사로 지하 102교보타워 버스정류장',
    'CRADLE_COUNT': 10.0,
    'LATITUDE': 37.505581,
    'LONGITUDE': 127.024277}]}}

#### Response 정보

1	ADDR_GU	구명

2	RENT_ID	대여소ID

3	CONTENT_ID	대여소번호

4	CONTENT_NM	대여소명

5	NEW_ADDR	대여소 주소

6	CRADLE_COUNT	거치대수

7	LATITUDE	위도

8	LONGITUDE	경도

### API 활용

In [1]:
import requests
import json
import pandas as pd

In [2]:
# 한 번에 최대 1000개 정보 제공
auth_key = '6f506b796d68747332396957746263'
response = requests.get(f'http://openapi.seoul.go.kr:8088/{auth_key}/json/PublicBicycleRenTIdinfo/1/1000')

In [3]:
# 자전거 대여소 총 개수 ( 운영중인 대여소이지만 존재하지 않는 정보도 많음)
print(f"total_bike_loc : {json.loads(response.text)['PublicBicycleRenTIdinfo']['list_total_count']}")

total_bike_loc : 1460

In [4]:
bike_loc_info = json.loads(response.text)['PublicBicycleRenTIdinfo']['row']
bike_loc_df1 = pd.DataFrame(bike_loc_info)

In [6]:
# 1001 ~
response = requests.get(f'http://openapi.seoul.go.kr:8088/{auth_key}/json/PublicBicycleRenTIdinfo/1001/2000')
bike_loc_info = json.loads(response.text)['PublicBicycleRenTIdinfo']['row']
bike_loc_df2 = pd.DataFrame(bike_loc_info)

In [7]:
bike_loc_df = pd.concat([bike_loc_df1, bike_loc_df2], ignore_index=True) # 데이터 결합

In [9]:
bike_loc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 8 columns):
ADDR_GU         1460 non-null object
CONTENT_ID      1460 non-null object
CONTENT_NM      1460 non-null object
CRADLE_COUNT    1460 non-null float64
LATITUDE        1460 non-null float64
LONGITUDE       1460 non-null float64
NEW_ADDR        1460 non-null object
RENT_ID         1460 non-null object
dtypes: float64(3), object(5)
memory usage: 91.3+ KB

In [10]:
bike_loc_df.head()

,ADDR_GU,CONTENT_ID,CONTENT_NM,CRADLE_COUNT,LATITUDE,LONGITUDE,NEW_ADDR,RENT_ID
0,강남구,2301,현대고등학교 건너편,10.0,37.524071,127.021790,서울특별시 강남구 압구정로 134현대고등학교 건너편,ST-777
1,강남구,2302,교보타워 버스정류장(신논현역 3번출구 후면),10.0,37.505581,127.024277,서울특별시 강남구 봉은사로 지하 102교보타워 버스정류장,ST-787
2,강남구,2303,논현역 7번출구,15.0,37.511517,127.021477,서울특별시 강남구 학동로 지하 102논현역 7번출구,ST-788
3,강남구,2304,신영 ROYAL PALACE 앞,10.0,37.512527,127.035835,서울특별시 강남구 언주로 626신영 ROYAL PALACE앞,ST-789
4,강남구,2305,MCM 본사 직영점 앞,10.0,37.520641,127.034508,서울특별시 강남구 언주로 734MCM 본사 직영점 앞,ST-790

In [11]:
bike_loc_df.to_csv('bike_loc_info.csv', index=False)